core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
# .github/
cloudinary_python.txt
**/._*
./._*
._*
.env
/.env
**/*.env
**/*.dev/
/.dev/
.dev/
/src/config/env.js
/.well-known
.devlog*
# /src/util/.dev
.d.ts
*.ts
# /src/util/dev
src/util/svg.js
