@import './theme.css';

/* Site root vars */
:root {
	--site-text-colour: #1a1a1a;
	--site-heading-colour: var(--cayenne-colour-red-dark);
	--site-heading-secondary-colour: var(--cayenne-colour-green-dark);
	--site-heading-p: var(--cayenne-colour-green-light);
	--site-background-main: #f2f2f2;
	--site-background-secondary: #555555;
	--site-section-bg-even: var(--cayenne-colour-red-light);
	--site-section-bg-odd: var(--cayenne-colour-green-light);
}

/* Remove default styles applied by browser */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* background: #000; */
}

html,
body {
	height: 100%;
	width: 100%;
	/* iOS 100vh bug fix */
	block-size: 100dvb;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	max-width: none;
}
a {
	text-decoration: none;
}
a div {
	text-decoration: none;
	color: inherit;
}

button,
input,
select,
textarea {
	font: inherit;
}

footer p {
	color: var(--site-background-main);
}

footer small {
	color: var(--border-subtle-static);
}

section {
	max-width: 100%;
}

/* 404 */
body[data-page='not-found'] main.not-found {
	justify-content: center;
}

body[data-page='not-found'] .row {
	text-align: center;
	flex-direction: column;
	align-items: center;
}
body[data-page='not-found'] h2 {
	font-size: 4rem;
}
body[data-page='not-found'] h4 {
	font-size: 2rem;
}

nav .container-fluid {
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
}

/*
 * Using Bootstraps own gutter variable to show responsive gutter widths;
 * Bumping specificity to ensure Bootstrap's on margin-inline rule does not 'win'
 */
section > .row {
	margin-left: 0;
	margin-right: 0;
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-inline: calc(var(--bs-gutter-x) * 0.5);
	margin-inline: 0;
}

section.index .row:nth-of-type(even) {
	background-color: var(--site-section-bg-even);
}

section.index .row:nth-of-type(odd) {
	background-color: var(--site-section-bg-odd);
}

main.features section:nth-of-type(odd) {
	background-color: var(--site-section-bg-even);
}
main.features section:nth-of-type(even) {
	background-color: var(--site-section-bg-odd);
}

p {
	color: var(--site-text-colour);
}

h2,
h4.inverse {
	color: var(--site-heading-colour);
}

h2.inverse,
h4 {
	color: var(--site-heading-secondary-colour);
}

h5,
.card-title {
	color: var(--site-heading-secondary-colour);
}

.card.ingredient h5.card-title {
	color: var(--site-heading-colour);
}

#header {
	width: 100%;
}

.navbar {
	width: 100%;
	z-index: 1099;
}

#header p {
	color: var(--cayenne-colour-green-light);
}

.navbar-nav .nav-link.active {
	color: var(--cayenne-colour-red);
}

/* index.html */

.index.section__top .row__top-row {
	align-items: center;
	text-align: center;
}

section.index .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.index .card-body p {
	text-align: center;
}

.card {
	border: none;
}

section.index .card.ingredient {
	background-color: var(--site-section-bg-odd);
}

section.index .card.favourites {
	background-color: var(--site-section-bg-even);
}
/* features.html */
section#features {
	background-color: var(--cayenne-colour-red-light);
}

/* Media queries keep emulate bootstraps own layout and responsiveness */
@media only screen and (min-width: 576px) {
	nav > div.container-fluid,
	section .row {
		padding-inline: calc((100vw - 540px) / 2);
	}
}

@media only screen and (min-width: 768px) {
	nav > div.container-fluid,
	section .row {
		padding-inline: calc((100vw - 720px) / 2);
	}
}

@media only screen and (min-width: 1200px) {
	nav > div.container-fluid,
	section .row {
		padding-inline: calc((100vw - 1140px) / 2);
	}
}

@media only screen and (min-width: 1440px) {
	nav > div.container-fluid,
	section .row {
		padding-inline: calc((100vw - 1320px) / 2);
	}
}
